*{
	margin: 0px;
	padding: 0px;
	box-sizing: border-box;
	font-family: 'Titillium Web', sans-serif;

}
body{
	background-image: url("../img/esc.jpg");
	background-size: cover;
	background-attachment: fixed;
}
header{
	background-color: rgb(58,145,227,0.7);
	border-style: solid;
	border-width: 5px;
	border-bottom-color: black;
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: space-between;
}
.autologo{
	width: 120px;
	height: 120px;
	margin: 5px;
	padding: 5px;
	border-radius: 10px;
}
.sihpe{
	width: 80px;
	height: 80px;
	margin: 5px;
	padding: 5px;
	border-radius: 60px;
	position: absolute;
	bottom: 20px;
	right: 0px;
}
header h1{
	display: inline;
	font-size: 30px;
}

/*MENU DESPLEGABLE*/

.navegacion{
	width: 360px;
	background-color: #fff;
	border-radius: 5px;
	margin-right: 20px; 
}
.navegacion ul{
	list-style: none;
}
.menu > li{
	position: relative;
	display: inline-block;
}
.menu > li > a{
	display: block;
	padding: 15px 20px;
	color: rgb(58,145,227);
	font-size: 22px;
	text-decoration: none;
}
.menu li a:hover{
	background-color: #fff;
	color: rgb(58,145,227);
	transition: all .3s;
}

/*SUBMENU*/

.submenu{
	position: absolute;
	width: 100%;
	background-color: #fff;
	visibility: hidden;
	opacity: 0;
	transition:opacity 1.5s;
}
.submenu li a{
	display: block;
	padding: 15px;
	color: rgb(58,145,227);
	text-decoration: none;
}
.submenu li a:hover{
	color: #fff;
	background-color: rgb(58,145,227);
}
.menu li:hover .submenu{
	visibility: visible;
	opacity: 1;
}


.contenedor{
	margin-top: 30px;
	width: 100%;
	margin-bottom: 30px;
	display: flex;
	flex-direction: column;
	align-items: center;
}
.login{
	font-size: 17px;
	width: 35%;
	background-color: rgb(58,145,227,0.7);
	display: flex;
	flex-direction: column;
	align-items: center;
	border: 1px solid #E7BC89;
	border-radius: 7px;
	transition: all ease 700ms;
}
.login:hover{
	width:40%;
	box-shadow: 0px 1px 20px color rgb(0,0,0,0.4);}
	.login .uno h2{
	color: #000;
	font-size: 40px;
	text-align: center;
	margin-bottom: 20px;
}
.login .dos{
	text-align: center;
	color: black;
}
.login form input{
	height: 23px;
	font-size: 23px;
	text-align: center;
	border: 0px;
	box-shadow: 0;
	margin-left: 30px;
	border-bottom: solid #fff 1px;
	transition: all ease 500ms;}
.login form .in:focus{
	background-color: #fff;
	color: #000;
	border-radius: 5px;
	height: 30px;
	border:0px;
}

.login form{
	font-size: 20px;
}
.login form .boton{
	display: flex;
	flex-direction: column;
	align-items: center;
	margin:0px;
	height: 40px;
	margin-bottom: 20px;
	justify-content: center;
	font-size: 20px;
	color: #000;
	text-align: center;
	width: 40%;
	margin-bottom: 20px;
	border: solid 1px #000;
	transition: all ease 600ms;
}
.login form .boton:hover{
	width: 100%;
	margin-left: -6px;
	background-color: #fff;
	border-radius: 5px;
	color: #000;
}

.autor{
	position: absolute;
	bottom: 0px;
	right: 0px;
	color: #000;
	background-color: rgb(255,255,255,.3);
	border-radius: 5px;
}