@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');
@import url('https://fonts.googleapis.com/css?family=Poppins:400,500,600,700,800,900');
*{
	margin: 0px;
	padding: 0px;
	box-sizing: border-box;
	font-family: 'Poppins', sans-serif;
}
body{
	background-image: url("../img/esc2.jpg");
	background-size: cover;
	background-attachment: fixed;
	font-weight: 300;
	font-size: 15px;
	line-height: 1.7;
	overflow-x: hidden;
}
header{
	width: 100%;
	height: 50px;
	background: #f8f8f8;
	display: flex;
	align-items: center;
	justify-content: space-around;

	flex-direction: row;
}
.autologo{
	width: 50px;
	height: 50px;
	object-fit: contain;
	margin: 1px;
	padding: 1px;
	border-radius: 10px;
}

/*===================RESPONSIVE NAVIGATION MENU CSS (@coding_gyan_)===================*/

.Logo{
	color: rgb(44, 44, 44);
	font-size: 1.5em;
}
/*1. MENU DESPLEGABLE*/
.contain{
	display: flex;
	padding: 1.2em 0 0 2em;
}
.nav{
	display: flex;
	align-items: center;
}
.nav ol{
	display: flex;
	list-style: none;
}
.nav ol li{
	margin: 1em;
	padding: 1.2em 0 0.25em 0;
}
.nav ol li a{
	text-decoration: none;
	padding: 1.2em 1.2em 1em 1.2em;
	border-radius: 10px 10px 0 0;
	color: rgb(39, 39, 39);
	transition: all .4s;
	position: relative;
	z-index: 1;
}
.nav ol li a::before{
	content: '';
	position: absolute;
	bottom: 0;
	left: 0;
	width: 100%;
	height: 41px;
	border-radius: 10px 10px 0 0;
	background: #853333;
	transform-origin: bottom;
	background: linear-gradient(to right, #2c5364, #203a43, #0f2027);
	transform: scaleY(0.05);
	z-index: -1;
	transition: all .4s;
}
.nav ol li a:hover::before{
	transform: scaleY(1.1);
}
.nav ol li a:hover{
	color: white;
}
header .btn{
	position: relative;
	width: 25px;
	height: 25px;
	-webkit-appearance: none;
	appearance: none;
	cursor: pointer;
	display: none;
}
header .btn::before{
	content: '\f0c9';
	position: absolute;
	top: 0;
	left: 0;
	font-family: 'Font Awesome 5 Free';
	font-weight: 700;
	font-size: 2em;
}
/*2. SUBMENU*/
.submenu{
	position: absolute;
	width: 100%;
	background-color: white;
	visibility: hidden;
	opacity: 0;
	transition:opacity 1.5s;
}
.submenu li{
	margin: 1em;
}
.submenu li a{
	text-decoration: none;
	padding: 15px;
	display: block;
	border-radius: 10px 10px 0 0;
	color: rgb(39, 39, 39);
	transition: all .4s;
	position: relative;
	z-index: 1;
}
.submenu li a::before{
	content: '';
	position: absolute;
	bottom: 0;
	left: 0;
	width: 100%;
	height: 41px;
	border-radius: 10px 10px 0 0;
	background: #853333;
	transform-origin: bottom;
	background: linear-gradient(to right, #2c5364, #203a43, #0f2027);
	transform: scaleY(0.05);
	z-index: -1;
	transition: all .4s;
}
.submenu li a:hover::before{
	transform: scaleY(1.1);
}
.submenuli a:hover{
	color: white;
}
.nav ol li:hover .submenu{
	visibility: visible;
	opacity: 1;
}
/*3. MEDIA QUERIES (RESPONSIVE BREAKPOINTS)*/
@media (max-width: 1000px){
	.btn{
		display: flex;
		z-index: 100;
	}
	header{
		justify-content: space-between;
		padding: 0 2em
	}
	.nav{
		width: 100%;
		position: absolute;
		top: 0;
		left: 0;
		display: flex;
		justify-content: center;
		background: #f8f8f8;
		transform: translateY(-110%);
		transition: all .4s;
	}
	input:checked ~ .nav{
		transform: translateY(0%);
	}
	input:checked::before{
		content: '\f00d';
	}
}
@media (max-width: 700px){
	.nav ol{
		flex-direction: column;
		text-align: center;
	}
}
/*============================================================================*/

/*===================ANIMATED 3D CSS EFFECT LOGIN/SIGNUP FORM (@coding.beast)===================*/

.section a{
	cursor: pointer; 
	transition: all 200ms linear;
}
.section a:hover{
	text-decoration: none; 
}
.link{
	color: #fff; 
}
.link:hover{
	color: #2196f3; 
}
.section p{
	font-weight: 500; 
	font-size: 14px; 
	line-height: 1.7; 
}
h4{
	font-weight: 600;
	color: #fff; 
}
h6 span{
    padding: 0 20px;
    text-transform: uppercase;
    font-weight: 700;
}
.section{
    position: relative;
    width: 100%;
    display: block;
}
.full-height{
	min-height: 100vh; 
}
.section [type="checkbox"]:checked,
.section [type="checkbox"]:not(:checked){
    position: absolute;
    left: -9999px;
}
.checkbox:checked + label,
.checkbox:not(:checked) + label{
    position: relative;
    display: block;
    text-align: center;
    width: 60px;
    height: 16px;
    border-radius: 8px;
    padding: 0;
    margin: 10px auto;
    cursor: pointer;
    background-color: #ffffff;
}
.checkbox:checked + label:before,
.checkbox:not(:checked) + label:before{
    position: absolute;
    display: block;
    width: 36px;
    height: 36px;
    border-radius: 50%;
    color: #2196f3;
    background-color: #2a2b38;
    font-family: 'unicons';
    content: '\eb4f';
    z-index: 20;
    top: -10px;
    left: -10px;
    line-height: 36px;
    text-align: center;
    font-size: 24px;
    transition: all 0.5s ease;
}
.checkbox:checked + label:before {
    transform: translateX(44px) rotate(-270deg);
}
.card-3d-wrap {
    position: relative;
    width: 440px;
    max-width: 100%;
    height: 400px;
    -webkit-transform-style: preserve-3d;
    transform-style: preserve-3d;
    perspective: 800px;
    margin-top: 40px;
}
.card-3d-wrapper {
    width: 100%;
    height: 100%;
    position:absolute;    
    top: 0;
    left: 0;  
    -webkit-transform-style: preserve-3d;
    transform-style: preserve-3d;
    transition: all 600ms ease-out; 
}
.card-front, .card-back {
    width: 100%;
    height: 100%;
    background-color: #2a2b38;
    position: absolute;
    border-radius: 6px;
    left: 0;
    top: 0;
    -webkit-transform-style: preserve-3d;
    transform-style: preserve-3d;
    backface-visibility: hidden;
}
.card-back {
    transform: rotateY(180deg);
}
.checkbox:checked ~ .card-3d-wrap .card-3d-wrapper {
    transform: rotateY(180deg);
}
.center-wrap{
    position: absolute;
    width: 100%;
    padding: 0 35px;
    top: 50%;
    left: 0;
    transform: translate3d(0, -50%, 35px) perspective(100px);
    z-index: 20;
    display: block;
}
.form-group{ 
    position: relative;
    display: block;
    margin: 0;
    padding: 0;
}
.form-style {
    padding: 13px 20px;
    padding-left: 55px;
    height: 48px;
    width: 100%;
    font-weight: 500;
    border-radius: 4px;
    font-size: 14px;
    line-height: 22px;
    letter-spacing: 0.5px;
    outline: none;
    color: #c4c3ca;
    background-color: #1f2029;
    border: none;
    transition: all 200ms linear;
    box-shadow: 0 4px 8px 0 rgba(21,21,21,.2);
}
.form-style:focus,
.form-style:active {
    border: none;
    outline: none;
    box-shadow: 0 4px 8px 0 rgba(21,21,21,.2);
}
.input-icon {
    position: absolute;
    top: 0;
    left: 18px;
    height: 48px;
    font-size: 24px;
    line-height: 48px;
    text-align: left;
    color: #2196f3;
    transition: all 200ms linear;
}
.form-group input:-ms-input-placeholder  {
    color: #c4c3ca;
    opacity: 0.7;
    transition: all 200ms linear;
}
.form-group input::-moz-placeholder  {
    color: #c4c3ca;
    opacity: 0.7;
    transition: all 200ms linear;
}
.form-group input:-moz-placeholder  {
    color: #c4c3ca;
    opacity: 0.7;
    transition: all 200ms linear;
}
.form-group input::-webkit-input-placeholder  {
    color: #c4c3ca;
    opacity: 0.7;
    transition: all 200ms linear;
}
.form-group input:focus:-ms-input-placeholder  {
    opacity: 0;
    transition: all 200ms linear;
}
.form-group input:focus::-moz-placeholder  {
    opacity: 0;
    transition: all 200ms linear;
}
.form-group input:focus:-moz-placeholder  {
    opacity: 0;
    transition: all 200ms linear;
}
.form-group input:focus::-webkit-input-placeholder  {
    opacity: 0;
    transition: all 200ms linear;
}
/*2.SUBMIT BUTTON*/
a.btn{  
    border-radius: 4px;
    height: 44px;
    font-size: 13px;
    font-weight: 600;
    text-transform: uppercase;
    transition: all 200ms linear;
    padding: 0 30px;
    letter-spacing: 1px;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    -ms-flex-pack: center;
    text-align: center;
    border: none;
    background-color: #2196f3;
    color: #fff;
    box-shadow: 0 8px 24px 0 rgba(10, 21, 121, 0.2);
}
a.btn:active,
a.btn:focus{  
  background-color: #fff;
  color: #2196f3;
  box-shadow: 0 8px 24px 0 rgba(255,255,255,.2);
}
a.btn:hover{  
  background-color: #fff;
  color:#2196f3;
  box-shadow: 0 8px 24px 0 rgba(255,255,255,.2);
}
.section .logo {
	position: absolute;
	top: 30px;
	right: 30px;
	display: block;
	z-index: 100;
	transition: all 250ms linear;
}
.section .logo img {
	height: 26px;
	width: auto;
	display: block;
}
/*============================================================================*/

.autor{
	position: absolute;
	bottom: 0px;
	right: 0px;
	color: #000;
	background-color: rgb(255,255,255,.3);
	border-radius: 5px;
}